<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1><%= data %></h1>
    <h2><%= title%></h2>
    <ul>
      <li><%= testId%></li>
      <li><%= testPassword%></li>
      <li><%= testNumber%></li>
    </ul>
  </body>
</html